.App {
  text-align: center;
  background-color: #D1FFEA;
  min-height: 100%;
}

.form-group {
  text-align: left;
  width: 1000px;
  align: center;
}

.form-control {
  text-align: left;
}

.table {
  background-color: #d0dcd7;
  text-align: left;
}

.Body {
  background-color: lightblue;
  width: 100vw;
  text-align: center;
}

.inside {
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-wrapper {
  min-height: 100%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
